!!!
%html
%head
%link(rel="stylesheet" type="text/css" href="application.scss")
%body
%div.chatSide
  %div.chatSide__user
    %div.chatSide__user--name
      nakayama

  %div.chatSide__groups
    %div.chatSide__group
      %div.chatSide__group--name
        サンプルグループ
      %div.chatSide__group--comment
        おはようございます
    %div.chatSide__group
      %div.chatSide__group--name
        2サンプルグループ
      %div.chatSide__group--comment
        まだメッセージはありません
