//Nakayama Akimoto
!!!
%html
%head
  %link(rel="stylesheet" type="text/css" href="application.scss")
%body
  //=render 'layouts/notification'

  .chatSide
    =render './chatSide__user'
    =render './chatSide__groups' 

  .chatMain
    =render './chatMain__header'
    =render './chatMain__body'
    =render './chatMain__footer'

