!!!
%html
%head
  %link(rel="stylesheet" type="text/css" href="application.scss")
%body
  .notification
    .notice 
      チャットグループが作成されました

  .chatSide
    .chatSide__user
      .chatSide__user--content
        .chatSide__user--name
          nakayama
        %a.chatSide__user--new-group(href="")
          %i.fa.fa-pencil-square-o
        %a.chatSide__user--edit-user(href="")
          %i.fa.fa-cog

    .chatSide__groups
      .chatSide__group-list
        .chatSide__group
          .chatSide__group--name
            サンプルグループ
          .chatSide__group--comment
            おはようございます
        .chatSide__group
          .chatSide__group--name
            2サンプルグループ
          .chatSide__group--comment
            まだメッセージはありません
  .chatMain
    .chatMain__header
      .chatMain__header--group
        .chatMain__header--group-name
          sampleグループ
        .chatMain__header--edit-btn
          %a(href="")
            edit
      .chatMain__header-members
        MEMBER:akiaki
    
    .chatMain__body
      .chatMain__body-list

        .chatMain__body-message
          .chatMain__body-message--name
            kiaki
          .chatMain__body-message--time
            2016/04/14 06:27:28
          .chatMain__body-message--text
            なるほど
        
        .chatMain__body-message
          .chatMain__body-message--name
            akiaki
          .chatMain__body-message--time
            2016/04/14 06:27:28
          .chatMain__body-message--text
            2つ目のメッセージだよ
        
        .chatMain__body-message
          .chatMain__body-message--name
            nakayama
          .chatMain__body-message--time
            2016/04/14 06:27:28
          .chatMain__body-message--text
            3つ目のメッセージだよ
      
    .chatMain__footer
      %form(id="newMessage" nctype="multipart/form-data" method="post")
        .chatMain__footer-body
          %input(id="messageBody" placeholder="type a message" name="message[Body]" type="text")
          %label.upload-label{for: "upload-icon"}
            %i.fa.fa-picture-o
            %input(name="message[image]" id="upload-icon" type="file")
        %input(class="submit" name="commit" value="Send" type="submit")


