@import "siteColor";
 .chatMain__header {
     height: 15%;
     border: 1px solid $white-1;

     &--group {
         @include clearfix();
         margin: 0 40px;

         &--name {
             color: $black-3;
             font-size: 20px;
             margin: 35px 0 15px;
             float: left;
         }

         &--editButton {
             font-size: 15px;
             padding: 12.5px 20px;
             margin: 28px 20px 0;
             border: 1px solid $accent-blue-white;
             float: right;
         }
     }

     &--members {
         color: $black-2;
         font-size: 12px;
         margin: 0 40px;
     }
 }