.notice {
    height: 24px;
    background-color: $accent-blue-white;
    text-align: center;
    color: white;
}
.alert {
    background-color: $alert_orange;
    color: white;
    text-align: center;
}