@import "reset";          
@import "font-awesome";     //userconents内の鉛筆マークなどのためにimport
@import "mixin/mixin"; //mixinファイルのimport

@import "modules/notification"; //noticicationのcssファイルです

@import "modules/chatSide__user"; //chatSideのuserのCSSファイルです
@import "modules/chatSide__groups"; //chatSideのgroupsのCSSファイルです

@import "modules/chatMain__header"; //chatMainのheaderです
@import "modules/chatMain__body"; //chatMainのbodyです
@import "modules/chatMain__footer"; //chatMainのfooterです


body,
html {
    height: 100%;
    width: 100%;
}
.chatSide {
    height: 100vh; //vhとしているが、％でも可
    width: 300px;
    float: left;
}
.chatMain {
    height: 100vh;
    width: calc(100vw - 300px);
    float: left;
}