.chatSide__groups
  .chatSide__groups--content
    .chatSide__groups--content--group
      .chatSide__groups--content--group--name
        1サンプルグループ
      .chatSide__groups--content--group--comment
        おはようございます

    .chatSide__groups--content--group
      .chatSide__groups--content--group--name
        2サンプルグループ
      .chatSide__groups--content--group--comment
        こんにちは