.chatMain__body
  .chatMain__body--list
    .chatMain__body--list--message
      .chatMain__body--list--message--name
        kiaki
      .chatMain__body--list--message--time
        2016/04/14 06:27:28
      .chatMain__body--list--message--text
        なるほど

    .chatMain__body--list--message
      .chatMain__body--list--message--name
        sample2
      .chatMain__body--list--message--time
        2016/04/14 06:27:28
      .chatMain__body--list--message--text
        そういうことか
    
    .chatMain__body--list--message
      .chatMain__body--list--message--name
        sample3
      .chatMain__body--list--message--time
        2016/04/14 06:27:28
      .chatMain__body--list--message--text
        わかったぞ